version: "3.9"
services:
  pre-commit:
    build:
      context: .
      dockerfile: Dockerfile
    image: hpc-dev:latest
    container_name: hpc-dev
    volumes:
      - ${PWD}:${PWD}:Z
    working_dir: ${PWD}
    entrypoint: "/bin/bash -c pre-commit install && pre-commit run --all"
